<aside
  class="fixed top-16 w-80 shadow-lg rounded border-gray-300 bg-gray-50 min-h-[calc(100vh_-_4rem)]"
>
  <ul>
    <li
      [ngClass]="{
        'bg-blue-100 border-l-4 border-orange-500 transition font-semibold ease-in-out delay-150':
          activatedLink === SidebarEnum.All
      }"
      class="p-4 cursor-pointer"
      (click)="changeActivatedLink(SidebarEnum.All)"
    >
    <div class="flex gap-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
      </svg>
      
        All
    </div>
    </li>
    <li
      [ngClass]="{
        'bg-blue-100 border-l-4 border-purple-500 transition font-semibold ease-in-out delay-150':
          activatedLink === SidebarEnum.Important
      }"
      class="p-4 cursor-pointer"
      (click)="changeActivatedLink(SidebarEnum.Important)"
    >
      <div class="flex gap-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
        </svg>
        
        Important
      </div>
    </li>
    <li
      [ngClass]="{
        'bg-blue-100 border-l-4 border-green-500 transition font-semibold ease-in-out delay-150':
          activatedLink === SidebarEnum.Completed
      }"
      class="p-4 cursor-pointer"
      (click)="changeActivatedLink(SidebarEnum.Completed)"
    >
      <div class="flex gap-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        
        Completed
      </div>
    </li>
  </ul>
</aside>
